# history files
.Rhistory
.Rapp.history

# session data files
.RData

# full result files (too many for GitHub)
mainSimStudy/fullRes
mainSimStudy-higherVar/fullRes
mainSimStudy-nonLinearY/fullRes

# full data files (too many for GitHub)
mainSimStudy/fullData
mainSimStudy-higherVar/fullData
mainSimStudy-nonLinearY/fullData